<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.walimu.m-imai"
        version   = "0.0.1">

    <name>mIMAI</name>

    <description>
        The Mobile Integrated Management of Adult and Adolescent Illness application is empowering clinicians in developing settings to provide excellent care through evidence-based standards. This is created by the Walimu, 501(c)3 (walimu.org).
    </description>

    <author href="http://www.walimu.org" email="info@walimu.org">
        Walimu Team
    </author>

</widget>
